<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Weather Application</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>

	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>

	<style>
		body{
			background-color:#4da6ff;
		}	
	</style>

	<script type="text/javascript">


		var a = angular.module("ForecastOperator", [ 'ngRoute' ]);
		a.controller("ForecastConsole", function($scope, $http) {
			$scope.forecastlist = [];
			$scope.forecastObj = {
				date : ""
			};
			$scope.dateProcessor = function() {
				var url = 'http://ec2-54-186-40-227.us-west-2.compute.amazonaws.com:8080/Rest_proj/rest/supersumoz/forecast/'
						+ $scope.forecastObj.date;
				$http({
					method : 'GET',
					url : url,
				}).then(function successCallback(response) {
					$scope.forecastlist = response.data;
					console.log($scope.forecastlist);
					_clearFormData()
				}, function errorCallback(response) {
					console.log(response.statusText);
				});
			};

			function _clearFormData() {
				$scope.forecastObj.date = "";
			}
			;
		});
	</script>

	
</head>
<body  ng-app="ForecastOperator" ng-controller="ForecastConsole">
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Weather Forecast</a>
	    </div>
	  </div>
	</nav>
	<div class="container">
	  <div class="jumbotron">
	    <h1>Know Weather Forecast</h1> 
	    <p>Click a date from which you would like to know weather of 
	    next 7 days and plan accordingly.</p> 
	  </div>
	</div>

	<!--************              FORM                ******************************* -->
	<div class="container">
		<div class="col-lg-4">
			<form  ng-submit="dateProcessor()">
				<label for='Date'> <h4><b>Select Forecast Date:</b></h4> </label>
				<div class = "form-group">
					<input type="text" placeholder="yyyymmdd"  ng-model="forecastObj.date"  class="form-control" id="date">
				</div>
				<button type="submit" value="Submit" class="btn btn-danger btn-md">Submit</button>
			</form>
		</div>
	</div>

	<div class="container">
	  <h2>Forecast for next 7 days</h2>
	  <p>This forecast is approximation of what can happen in next 7 days and there is no guarantee that this data is accurate.</p>            
	  <table class="table table-dark">
	    <thead>
	      <tr>
	        <th>DATE</th>
	        <th>TMAX</th>
	        <th>TMIN</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr data-ng-repeat="f_obj in forecastlist">
				<td>{{ f_obj.DATE }}</td>
				<td>{{ f_obj.TMAX }}</td>
				<td>{{ f_obj.TMIN }}</td>
		 </tr>
	    </tbody>
	  </table>
	</div>


</body>
</html>